@import './variables';

%button {
    border: none;
    border-radius: 5px;
    background-color: $button;
    color: $white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        @include laptop {
            background-color: $buttonHover;
        }
    }
}

%header-section {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;

    @include doubleColumns {
        font-size: 30px;
    }

    @include laptop {
        font-size: 36px;
    }
}

%wrapper-section {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}