//breakpoints
$breakpointMobileSmall: 340px;
$breakpointMobile: 442px;
$breakpointDoubleColumns: 600px;
$breakpointTablet: 768px;
$breakpointLaptop: 1025px;
$breakpointLaptopBig: 1200px;
$breakpointDesktopBig: 1600px;

//gradients 
$headerGradient: linear-gradient(45deg, #f1db14b6, #da0d0dbf);
$shadowGradient: linear-gradient(45deg, #f1db1480, #daaa0d80, #e6330780);
$cardsSectionGradient: linear-gradient(45deg,#edc9af, #f7bd95);

//colors
$cardBcg: #f7e4d6;
$cardImgFiller: #b5b5b5;
$input: #edc9af;
$inputHover: #e2bca0;
$white: #fff;
$button: #ff2600;
$buttonHover: #c21e02;