@import './base';
@import './variables';
@import './mixins';
@import './placeholders';

.header {
	position: relative;
	height: 300px;
	background: $headerGradient;
	overflow: hidden;
	z-index: 0;
	padding-inline: 30px;

	@include mobile {
		padding-inline: 40px;
	}

	@include tablet {
		height: 400px;
		padding-inline: 50px;
	}

	@include laptop {
		height: 500px;
	}

	.wrapper {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}

	.header__subtitle {
		margin-top: 50px;
		font-size: 30px;

		@include tablet {
			margin-top: 70px;
			font-size: 34px;
		}

		@include laptop {
			margin-top: 100px;
			font-size: 38px;
		}

		@include laptopBig {
			font-size: 42px;
		}
	}

	.header__title {
		font-size: 40px;

		@include tablet {
			font-size: 44px;
		}

		@include laptop {
			font-size: 52px;
		}

		@include laptopBig {
			font-size: 60px;
		}
	}

	.header__text {
		font-weight: 500;

		@include tablet {
			margin-top: 10px;
			font-size: 18px;
		}

		@include laptop {
			margin-top: 15px;
			font-size: 20px;
		}
	}

	.header__button {
		@extend %button;
		display: block;
		margin-top: 15px;

		@include tablet {
			margin-top: 25px;
			font-size: 18px;
		}

		@include laptop {
			margin-top: 35px;
			font-size: 20px;
		}
	}

	.header__image-box {
		border-radius: 90% 100% 0 120%;
		height: 100%;
		display: block;
		position: absolute;
		overflow: hidden;
		bottom: 0;
		right: -200px;
		z-index: -1;

		@include mobile {
			right: -100px;
		}

		@include laptopBig {
			scale: 1.2;
		}

		@include desktopBig {
			scale: 1.5;
		}
	}

	.header__image {
		position: relative;
		display: block;
		height: 100%;
		z-index: 1;
	}

	.header__image-shadow {
		background: $shadowGradient;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}
}

.cards {
	background: $cardsSectionGradient;
	padding: 40px 20px;

	.wrapper {
		@extend %wrapper-section;
	}

	.cards__header {
		@extend %header-section;
	}

	.cards__container {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 20px;

		@include doubleColumns {
			grid-template-columns: 1fr 1fr;
			column-gap: 30px;
		}

		@include laptop {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.cards__single-card {
		background-color: $cardBcg;
		border-radius: 10px;
		overflow: hidden;
		transition: scale 0.3s;

		@include laptop {
			&:hover {
				scale: 1.02;
			}
		}
	}

	.cards__single-card-wrapper {
		padding: 20px;
	}

	.cards__single-card-img {
		background-color: $cardImgFiller;
		height: 200px;

		@include laptop {
			height: 150px;
		}
	}

	.cards__single-card-title {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.cards__single-card-description {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.cards__single-card-button {
		@extend %button;
		margin-top: 15px;
	}
}

.form {
	padding: 40px 20px;

	@include laptop {
		padding-bottom: 50px;
	}

	.wrapper {
		@extend %wrapper-section;
	}

	.form__header {
		@extend %header-section;
	}

	.form__inputs {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 20px;

		@include doubleColumns {
			grid-template-columns: 1fr 1fr;
			column-gap: 30px;
		}
	}

	.form__input, .form__textarea {
		background-color: $input;
		border-radius: 5px;
		border: none;
		padding: 10px 20px;
		transition: background-color 0.3s;

		@include doubleColumns {
			font-size: 18px
		}

		@include laptop {
			&:hover {
				background-color: $inputHover;
			}
		}
	}

	.form__textarea {
		resize: none;
		width: 100%;
		margin-top: 20px;
		height: 100px;
	}

	.form__button {
		@extend %button;
		margin-top: 20px;
		display: block;
		width: 100%;

		@include doubleColumns {
			font-size: 18px;
		}

		@include laptop {
			font-size: 20px;
		}
	}
}